In [1]:
# Даны два целых числа A и B (при этом A ≤ B). Выведите все числа от A до B включительно.

# Входные данные

# Вводятся два целых числа, не превосходящие 200 по абсолютному значению.

# Выходные данные

# Выведите ответ на задачу.

A = int(input())
B = int(input())

for i in range(A, B + 1):
    print(i)

1
10
1
2
3
4
5
6
7
8
9
10

In [2]:
# Даны два целых числа A и B. Выведите все числа от A до B включительно в порядке возрастания,
# если A < B, или в порядке убывания в противном случае.

# Входные данные

# Вводятся два целых числа, не превосходящих 200 по абсолютному значению.

# Выходные данные

# Выведите ответ на задачу.

A = int(input())
B = int(input())

for i in range(A, B + (-1 if A > B else 1), -1 if A > B else 1):
    print(i)

2
13
2
3
4
5
6
7
8
9
10
11
12
13

In [3]:
# Дано 10-значное число. Выведите все цифры этого числа в обратном порядке по одной.

# Входные данные

# На вход подаётся натуральное 10-значное число.

# Выходные данные

# Выведите ответ на задачу. В качестве разделителя между цифрами можно использовать переводы строки и пробелы.

n = int(input())

while n != 0:
    print(n % 10)
    n //= 10

13327548
8
4
5
7
2
3
3
1

In [4]:
# Даны числа a, b, c, d. Выведите в порядке возрастания все целые числа от 0 до 1000 включительно,
# которые являются корнями уравнения a·x³ + b·x² + c·x + d = 0.

# Входные данные

# Вводятся целые числа a, b, c и d. Все числа не превосходят по модулю 30000.

# Выходные данные

# Выведите ответ на задачу. Если в указанном промежутке нет корней уравнения, то ничего выводить не нужно.

a = int(input())
b = int(input())
c = int(input())
d = int(input())

for x in range(1001):
    if a * x ** 3 + b * x ** 2 + c * x + d == 0:
        print(x)

2
-2
1
-3

In [5]:
# По данному целому неотрицательному n вычислите значение n!.

# Факториалом неотрицательного целого числа n называется произведение всех натуральных чисел от 1 до n,
# если n > 0. Если n = 0, то факториалом нуля называется единица: 0! = 1.

# Входные данные

# Вводится число n (0 ≤ n ≤ 15).

# Выходные данные

# Выведите ответ на задачу.

n = int(input())

if n == 0:
    print(1)

else:
    p = 1
    for i in range(1, n + 1):
        p *= i

    print(p)

5
120

In [6]:
# Даны целые неотрицательные числа a, b, c, d, при этом 0 ≤ c < d.
# Выведите в порядке возрастания все числа от a до b включительно, которые дают остаток c при делении на d.

# В этой задаче нельзя использовать инструкцию if, операторы сравнения (< и т. д.), должен быть только один цикл.

# Входные данные

# На вход подаются четыре строки, в каждой из которых написано по одному неотрицательному целому числу — a, b, c, d.
# Все числа не превосходят 2·10⁹, 0 ≤ c < d.

# Выходные данные

# Выведите ответ на задачу.

a = int(input())
b = int(input())
c = int(input())
d = int(input())

a = a + (c - a) % d

for i in range(a, b + 1, d):
    print(i)

3
23
5
3
5
8
11
14
17
20
23

In [7]:
# По данным двум натуральным числам A и B (A ≤ B) выведите все чётные числа на отрезке от A до B включительно.
# В этой задаче нельзя использовать инструкцию if.

# Входные данные

# Вводятся два натуральных числа A и B.

# Выходные данные

# Выведите ответ на задачу.

A = int(input())
B = int(input())

for i in range(A + A % 2, B + 1, 2):
    print(i)

23
59
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58

In [8]:
# Дано несколько чисел. Подсчитайте, сколько из них равны нулю, и выведите это количество.

# Входные данные

# Сначала вводится число n, затем вводятся ровно n целых чисел.
# Все числа во входных данных — целые неотрицательные, не превосходящие 30000.

# Выходные данные

# Выведите ответ на задачу.

n = int(input())
counter = 0

for _ in range(n):
    x = int(input())
    if x == 0:
        counter += 1

print(counter)

5
0
2
-3
0
0
3

In [9]:
# По данному натуральному числу выведите все его натуральные делители в порядке возрастания.

# Входные данные

# На вход подаётся единственное натуральное число n (n ≤ 1000).

# Выходные данные

# Выведите все делители числа в порядке возрастания. Делители можно выводить на одной строке,
# разделяя пробелом, или на разных строках.

n = int(input())

for i in range(1, n + 1):
    if n % i == 0:
        print(i)

99
1
3
9
11
33
99

In [10]:
# По данному натуральному числу n выведите лесенку из n ступенек, i-я ступенька состоит из чисел от 1 до i без пробелов.

# Входные данные

# На вход подаётся натуральное число n (n ≤ 9).

# Выходные данные

# Выведите ответ на задачу.

n = int(input())

s = ""
for i in range(1, n + 1):
    s += str(i)
    print(s)

9
1
12
123
1234
12345
123456
1234567
12345678
123456789

In [11]:
# По заданной последовательности a₁, a₂, ..., aₙ чисел вычислите сумму a₁·a₂ + a₂·a₃ + ... + aₙ₋₁·aₙ.

# Входные данные

# Первая строка входных данных содержит число n ≥ 2. В следующих n строках вводится по одному числу.
# В i + 1 строке содержится значение i-го элемента последовательности.
# Все числа во входном файле натуральные, не превосходящие 100.

# Выходные данные

# Выведите ответ на задачу.

n = int(input())
prev, s = int(input()), 0

for _ in range(1, n):
    x = int(input())
    s += prev * x
    prev = x

print(s)

4
9
2
0
1
18